* {
    padding: 0 0; 
    margin: 0 0; 
    font-family: Roboto;
}

.header-top {
    display: flex; 
    justify-content: space-between;
    margin-right: 100px; 
    margin-left: 100px; 
    padding-top: 20px; 
}

.header {
    color: white; 
    background: #1F2937; 
    padding-bottom: 10px; 
}

.header-logo {
    font-size: 24px; 
    color: #F9FAF8; 
}

ul {
    display: flex; 
    list-style: none; 
    gap: 20px; 
}

a {
    text-decoration: none;
    color: white
}

.main-hero-text {
    font-size: 48px; 
    font-weight: extra-bold;
    color: #F9FAF8; 
    max-width: 400px; 
    margin-left: 100px; 
    padding-top: 50px; 
}

.secondary-hero-text {
    font-size: 18px; 
    color: #E5E7EB; 
    max-width: 400px; 
    padding-left: 100px;  
    padding-bottom: 10px; 
}

.sign-up {
    margin-left: 100px; 
    background: #3882F6; 
    color: #F9FAF8;
    padding: 8px 20px 8px 20px; 
    border: none; 
    border-radius: 4px; 
}

img {
    max-height: 200px; 
    max-width: 200px;
}

.header-body {
    display: flex; 
    justify-content: space-between;
}

.info-header {
    font-size: 36px; 
    font-weight: extra-bold;
    color: #1F2937; 
    text-align: center;
    padding-bottom: 20px; 
}

.container {
    display: flex; 
    justify-content: center;
    gap: 10px; 
}

.frame {
    height: 200px; 
    width: 200px; 
    text-align: center;
    
}

.box {
    height: 135px; 
    width: 135px;
    border: 3px solid #3882F6;
    border-radius: 4px; 
}

.box-text {
    width: 135px; 
}

.quote {
    background: #E5E7EB;
    display: flex; 
    flex-direction: column; 
}

.quote-text {
    font-size: 36px; 
    text-decoration: light italic;
    color: #1F2937;
    padding: 20px 40px 10px 20px;
}

.quote-author {
    font-size: 20px;
    color: #1F2937;
    align-self: flex-end;
    padding-bottom: 10px;
}

.footer {
    display: flex; 
    background: #3882F6;
    color: #F9FAF8;
    padding: 20px 50px 20px 50px;
    margin: 50px 100px 50px 100px; 
    gap: 150px; 
    border-radius: 6px;
    max-width: 800px; 
    justify-content: center; 
    margin-left: auto; 
    margin-right: auto; 
}

.action {
    font-weight: bold;
}

.sign-up-text {
    color: #E5E7EB;
}

.footer-sign-up {
    background: #3882F6;
    border: 1px solid white; 
    border-radius: 4px; 
    padding: 4px 12px 4px 12px; 
    color: #F9FAF8;
    font-weight: bold; 
    align-items: center;
    flex: 1; 
    max-width: 80px; 
}

